body {
    background-image: url(fundal\ site.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw; height: 100vh;
    margin: 0;
    min-width: 1800px;
    display: flex;
    gap:10px;
    color:white;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; overflow-y: scroll;
}

@font-face {
    font-family: 'natia_lu_ruxi';
    src: url('ZenDots-Regular.ttf');
}

canvas{
    margin-top: 100px;
    background-color: whitesmoke;
    width: 600px; height: 600px;
}

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#grid-size-header, #alive-cells-header{
    font-size: 30px;
    min-width:200px;
    text-align: center;
    user-select: none;
}

#gof-text{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    text-align: center;
    background-image: url(background\ stele\ 1.png);
    background-size: cover;
    color:white;
    font-size: 60px;
    font-weight: bold;
    font-family:'natia_lu_ruxi';
    width:100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid white;
    padding-bottom: 30px ;
    padding-top: 30px;
}

#div1{
    display: flex;
    flex-direction: row;
    gap:150px;
    align-items: center;
    justify-content: center;
}

#div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 420px;
    font-size: 20px;
    user-select: none;
}

#div2 h1{
    margin:0;
    font-weight: bold;
}

button{
    min-width: 200px;
    background-color: green;
    font-size: 26px;
    border: none;
    font-family: 'natia_lu_ruxi';
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    width:210px;
    height: 70px;
    color: whitesmoke
}

button:hover{
    filter:brightness(1.4);
}

button:active{
    width:189px;
    height:63px;
    font-size:27px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    margin-bottom: 3.5px;
    margin-top: 13.5px;
}

input[type = "range"]{
    user-select: none;
    width:200px;
    cursor: pointer;
    accent-color: rgb(211, 60, 34);
}

input[type = "range"]::-webkit-slider-runnable-track{
    border: 2px;
    border-radius: 15px;
}

#speed-header{
    font-size: 30px;
}

#speed-range{
    margin-top: 100px;
}

.range-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select:none;
}

#image-grid{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:100px;
    margin-left: 200px;
    margin-top: 50px;
}

#p1, #p2, #p3{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap:50px;
}

.scris{
    line-height: 1.3;
    min-width: 300px;
    max-width: 600px;
    margin-left: 100px;
    font-size: 25px;
    text-align: justify;
    text-indent: 30px;
    font-weight: bold;
}

.scris-div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

#p3 div{
    gap:40px;
}

#explic{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top:0px;
    left:200px;
    user-select: none;
    border-bottom: 5px solid white ;
}

#titlul{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top:0px;
    left:200px;
    margin-top: 80px;
    user-select: none;
    border-bottom: 5px solid white ;
}

.titluWrap{
    font-family: 'natia_lu_ruxi';
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 200px;
    margin-bottom: 150px;
}

img{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}